input[type='button'] {   
    line-height: 30px;
    height: 30px;
    border: 1px solid gray;
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    background: #0862ec;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}